@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin box-shadow($color) {
  -moz-box-shadow:    1px 1px 2px $color;
  -webkit-box-shadow: 1px 1px 2px $color;
  box-shadow:         1px 1px 2px $color;
}

@mixin round-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}


@mixin x-comp-transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}