@import '../base/_mixins';

.home-top-bar {
  h2 {
    color: #3981a6;
    padding: 30px 0;
    font-weight: normal;
    em {
      font-weight: lighter;
      font-style: normal;
    }
  }
}

.home-call-to-action {
  margin-top: 20px;
  padding-bottom: 60px;
}

.home-logo-wrapper {
  width: 100%;
  height: 300px;
  background: url('../../../img/logo.png') bottom center no-repeat;
  background-size: contain;

  span.far-title {
    position: absolute;
    left: -1000000px;
  }
}

.home-logo {
  margin: 10px auto;
}

.home-video {
  @include box-shadow(#bbb);
  @include x-comp-transition(0.4s linear all);
  text-align: center;
  border: 1px solid #ccc;
  margin-top: 50px;
  height: 300px;
  cursor: pointer;

  .home-video-icon {
    @include x-comp-transition(0.4s linear all);
    line-height: 320px;
    font-size: 14em;
    color: #c2c2c2;
  }

  &:hover {
    background: rgba(167, 136, 96, 0.2);
    .home-video-icon {
      color: #ffffff;
    }
  }
}

.home-separator {
  margin: 50px auto;
}

.home-summary {
  padding: 50px;
  color: #666;
  font-weight: lighter;
  h3 {
    color: #3981a6;
    font-weight: lighter;
    margin-bottom: 20px;
    border-bottom: 1px solid lighten(#3981a6, 45);
  }
  img {
    max-width: 200px;
    margin: 10px auto;
    @include round-corners(100px);
    border: 1px solid #ccc;
  }
}