$ma-font-color: #cccccc;

.ma-sign-in-wrapper {
  color: $ma-font-color !important;
  margin-top: 40px;

  h1, h2, h3, h4, h5, h6 {
    color: $ma-font-color !important;
  }

  .ma-admin-logo {
    max-width: 250px;
    height: auto;
    margin: 20px auto;
  }

}